<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><% flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
    <fielset>
      <legend>Sign In</legend>
      <div class="text-left">
        <%= label_tag :name, 'Name:' %>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div class="text-left">
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div>
        <%= submit_tag "Login" %>
      </div>
    </fielset>
  <% end %>

</div>