<p id="notice"><%= notice %></p>

<h1>Listing Pay Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pay_types.each do |pay_type| %>
      <tr>
        <td><%= pay_type.name %></td>
        <td><%= link_to 'Show', pay_type %></td>
        <td><%= link_to 'Edit', edit_pay_type_path(pay_type) %></td>
        <td><%= link_to 'Destroy', pay_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pay type', new_pay_type_path %>
